body {

}

.dropdown-toggle {
  font-size: 10px !important;
  font-family: initial !important;
}

img {
  width: 30px;
  height: 30px;
}

li {
  font-size: 10px;
}

li span {
  font-size: 8px;
}

/* Header */
#header {
 position: fixed;
 width: 100%;
 height: 100px;
 font-weight: bold;
 text-align: center;
 background: #7F6FF0;
 -webkit-transition: .3s;
 transition: .3s;
 color: #fff;
}

#header-img {
  width: 100%;
  height: 752px;
  background-image: url("img/header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#container * {
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

#h1-title {
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 900;
}

#div-border {
  border-bottom-width:2px;
  border-bottom-color: #D3D3D3;
  border-bottom-style: solid;
  width: 100%;
}

.innerDivRight {
  display: inline-block;
  position: absolute;
  margin-top: 50px !important;
}

.innerDivCenter {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}

/*.innerDivLeft {
  display: inline-block;
  vertical-align: top;
  width: auto;
}
*/

/* Graphs */
#accuracy_by_distance {
  display: inline-block;
}

/* KEYS */

#accuracy_by_downkey {
  margin-top: 100px !important;
  margin-left: 0px;
}

#accuracy_by_distancekey {
  margin-top: 100px !important;
  margin-left: 0px;
}

#accuracy_by_pointkey {
  margin-top: 100px !important;
  margin-left: 0px;
}


/* D3 Elements */


.key {
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  height: auto;
  width: 120px;
  /*max-width: 130px;*/
  background-color: white;
  border-color: #ccc;
  border-radius: 4px;
}

.key ul {
  list-style: none;
  padding: 5px;
}

.teamColorKey {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
}

.title {
  stroke: #848484;
  stroke-width: 0.2px !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.tick {
  stroke: #848484;
}

.axis line {
  stroke: #848484;
}

.axis path {
  stroke: none;
}

.pointSpreadAxis path {
  stroke: #848484 !important;
}

.axis text {
  fill: #848484 !important;
  stroke: #848484 !important;
  stroke-width: 0.01px !important;
  font-family: "Bree Serif";
}

.x .tick {
  font-size: 16px;
}

.y .tick {
  stroke: #ccc;
  stroke-width: 0.2px;
}

.label {
  font-family: 'Open Sans', sans-serif;
  fill: #333;
  font-size: 12px;
  left: 0;
}

.arrow {
  fill: #333;
}

.d3-tip {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: normal;
}

.headerDiv{
  max-width: 750px;

}

.innerDiv{
  /* max-width: 650px; */
  max-width: 750px;
}

#passer {
  display: inline-block;
  padding: 10px;
  padding-right: 5px;
  font-size: 12px;
}

#team {
  display: inline-block;
}

.navbar-brand{
  padding: 10px 15px;

}

.navbar-brand img {
  height: 30px;
  width: 30px;
}
